@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }

  * {
    font-family: var(--Galmuri-9) !important;
    box-sizing: border-box;
  }

  a {
    all: unset;
  }

  input,
  textarea {
    font-family: var(--Pretendard-Variable) !important;
    outline: none;
    border: none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: inherit;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

@layer components {
  .overlay {
    @apply b-safe fixed left-0 right-0 top-0 z-[15] flex h-screen w-full items-center justify-center bg-black/50 px-20 transition-visibility duration-250 ease-in-out;
  }

  .toast {
    .Toastify__toast,
    .Toastify__toast--error {
      width: auto;
      padding: 10px 61px;
      min-height: 42px;
      background-color: rgba(0, 0, 0, 0.6);
      margin-bottom: 0;
    }

    &&&.Toastify__toast-container {
      display: flex;
      justify-content: center;
      width: 100% !important;
      padding: 0 20px;
      left: unset;
      transform: unset;
    }

    .Toastify__toast-icon {
      width: 0px !important;
    }

    .Toastify__toast-body {
      padding: 0 !important;
      margin: 0 !important;
      display: block !important;

      div {
        font-family: var(--Pretendard-Variable) !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 160% !important;
        text-align: center;
        color: #ffffff !important;
        white-space: pre-line !important;
      }
    }

    &&&.Toastify__toast-container--top-center {
      top: 120px;
    }
  }
}

@layer utilities {
  .b-safe {
    bottom: env(safe-area-inset-bottom);
  }
}
